@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 244 49% 17%;
    --primary-foreground: 210 40% 98%;

    --secondary: 241 77% 63%;
    --decade: 34 100% 66%;
    --secondary-muted: 242 76% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 247 82% 98%;
    --dimmed: 246, 10%, 37%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 247 82% 98%;
    --accent-foreground: 241 77% 63%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1196px;
$p_min_font: 14px;
$p_max_font: 16px;
$h1_min_font: 28px;
$h1_max_font: 49px;
$h2_min_font: 22px;
$h2_max_font: 39px;

@layer base {
  *,
  *::before,
  *::after {
    @include fluid-type($min_width, $max_width, $p_min_font, $p_max_font);
    @apply m-0 p-0 box-border text-dimmed;
    line-height: 160%;
  }
}

h1 {
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
  @apply font-bold;
  line-height: 120%;

  span {
    @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
    @apply font-bold;
    line-height: 120%;
  }
}
h2 {
  @include fluid-type($min_width, $max_width, $h2_min_font, $h2_max_font);
  @apply font-bold;
  line-height: 120%;
  span {
    @include fluid-type($min_width, $max_width, $h2_min_font, $h2_max_font);
    @apply font-bold;
    line-height: 120%;
  }
}

.container {
  @apply max-w-[1196px] min-w-[300px] px-[20px];
}

.section {
  @apply py-[122px];
}

.small-gap {
  @apply gap-[25px];
}

.large-gap {
  @apply gap-[50px];
}

.hero-description {
  @apply text-[16px] md:text-[20px];
  span {
    @apply font-medium text-primary text-[16px] md:text-[20px];
  }
}

// custom scroll bar code

body {
  /* width */
  ::-webkit-scrollbar {
    @apply w-5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-black;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-black/60;
  }
}
